
/*--animations--*/


/*animation no.1*/

.krisie-1 {
    --h: 1.2em; /*height*/

    line-height: var(--h);
    color: #0000;
    text-shadow: 
        0 calc(-1*var(--t,0em)) #000000,
        0 calc(var(--h) - var(--t,0em)) #ffb6c1;
    overflow: hidden;
    transition: .3s;        
}

.alt {
    text-shadow:
        0 var(--t,0em) #000000,
        0 calc(var(--t,0em) - var(--h)) #ffb6c1;
}

.krisie-1:hover {
    --t: var(--h);
}

/*animation no.2*/
.krisie-2 {
    /*height variable*/ --h:1.2em;

    line-height: var(--h);
    color: #0000;
    text-shadow:
        0 var(--t,var(--h)) #ffffff,
        0 0 var(--c, #000); 
    transition: 0.3s;
}

.krisie-2:hover {
    --t: 0;
    --c: #0000;
}
/*stylistic features*/

body {
    height: 100vh;
    margin: 0%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    place-content: center;
    align-items: center;
}

 h3 {
    font-size: 4rem;
    font-family: system-ui, sans-serif;
    margin:0 ;
    cursor: pointer;
    padding: 0 .1em;
 }