.krisie-1 {
    line-height: 1.2em;
    color: #0000;
    text-shadow:
        0 0 #000000,
        0 1.2em #ffb6c1;

    text-shadow: 
        0 calc(-1*var(--t,0em)) #0000
        0 calc(var(--h) - var(--t,0em)) #ffb6c1
    overflow: hidden;
    transition: .5s;        
}

.alt {
    text-shadow:
    0 var(--t,0em) #0000,
    0 calc(var(--t,0em) - var(--h)) #ffb6c1;
}

.krisie-1:hover {
    --t: var(--h);
}

 h3 {
    font-size: 4rem;
 }