
/*--animations--*/


/*animation no.1*/

.krisie-1 {
    --h: 1.2em; /*height*/

    line-height: var(--h);
    color: #0000;
    text-shadow: 
        0 calc(-1*var(--t,0em)) #000000,
        0 calc(var(--h) - var(--t,0em)) #ffb6c1;
    overflow: hidden;
    transition: .3s;        
}

.alt {
    text-shadow:
        0 var(--t,0em) #000000,
        0 calc(var(--t,0em) - var(--h)) #ffb6c1;
}

.krisie-1:hover {
    --t: var(--h);
}

/*animation no.2*/
.krisie-2 {
     --h:1.2em; /*height variable*/

    line-height: var(--h);
    color: #0000;
    text-shadow:
        0 var(--t,var(--h)) #ffffff,
        0 0 var(--c, #000);
    background:
        linear-gradient(#ffb6c1 0 0)
        bottom/100% var(--d, 0) no-repeat;
    overflow: hidden;
    transition: 0.3s;
}

.krisie-2:hover {
    --d: 100%;
    --t: 0;
    --c: #0000;
}

/*animation no.3*/
.krisie-3 {
    --c: #ffb6c1; /*colour*/
    --h: 1.2em; /*height*/

    line-height: var(--h);
    color: #00000000;
    overflow: hidden;
    text-shadow:
        0 calc(-1*var(--t,0em)) var(--c),
        0 calc(var(--h) - var(--t, 0em)) #fff;
    background:
        linear-gradient(var(--c) 0 0) no-repeat
        calc(200% -  var(--p, 0%)) 100%/200% var(--p, .08em);
        transition: .3s var(--s,0s), background-position .3s calc(.3s - var(--s,0s));
}

.krisie-3:hover {
    --t: var(--h);
    --p: 100%;
    --s: .3s
}

/*animation no.4*/
.krisie-4 {
    --h: 1.2em;
    --c: #ffb6c1;

    line-height: var(--h);
    color: #000000;
    text-shadow: 
        0 var(--h) #ff0000,
        0 0 #000;
    clip-path: inset(0 0 1px 0);
    transition: 0.4s;
}

.krisie-4:hover {
    clip-path: inset(0 0 calc(-1*var(--h)) 0);
}

/*stylistic features*/

body {
    height: 100vh;
    margin: 0%;
    display: grid;
    grid-template-columns: subgrid;
    gap: 20px;
    place-content: center;
    align-items: center;
}

 h3 {
    font-size: 4rem;
    font-family: system-ui, sans-serif;
    margin:0 ;
    cursor: pointer;
    padding: 0 .1em;
 }